# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files
*.tfvars
*.tfvars.json

# Local CLI files
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (for app folder later)
node_modules/
.env

# VSCode
.vscode/